<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="./horizontalcss.css" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="navbar">
            <div class="logo"><a href="http://" target="_blank" rel="noopener noreferrer">CodingLab</a></div>
            <div class="nav-links">
                <ul class="links">
                    <li>
                        <a href=""> Home</a>
                    </li>
                    <li>
                        <a href=""> Support</a>
                    </li>
                    <li>
                        <a href=""> HTml and css</a>
                        <i class="bx bxs-chevron-down arrow htmlArrow"></i>
                        <ul class="htmlcss-sub-menu sub-menu">
                            <li><a href="">Web Design</a></li>
                            <li><a href="">Web Design</a></li>
                            <li><a href="">Web Design</a></li>
                            <li><a href="">Web Design</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href=""> Contact Us</a>
                        <i class="bx bxs-chevron-down arrow jsArrow"></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a href="">Dynamic Calculator</a></li>
                            <li><a href="">Form Validation</a></li>
                            <li><a href="">Calendar</a></li>
                            <li><a href="">Analog<i class='bx bxl-facebook-circle'></i></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href=""> About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
</body>

</html>